# Configuration files
.DS_Store
Desktop.ini

# Thumbnail files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Avoid ignoring files
!target/UMD_FileRenamer*
!repo/com/diegohp/umd/UMD_FileRenamer/1.0/UMD_FileRenamer*
!repo/com/diegohp/umd/UMD_FileRenamer/1.0.1/UMD_FileRenamer*
!repo/com/diegohp/umd/UMD_FileRenamer/1.0.2/UMD_FileRenamer*
!target/original-UMD_FileRenamer-1.0.2.jar
!/.mvn/wrapper/maven-wrapper.jar
!repo/org/bolet/jgz/0.2/jgz-0.2.jar

# IntelliJ
/.idea/

# Div
!/target/
